.bottom
	p
		| &copy; 2015 
		a#footer_tagtoo_website(href='http://www.tagtoo.com.tw/', target='_blank', style='margin: 5px;') Tagtoo 塔圖科技
		|  All copyright 
		a#footer_tagtoo_privacy(href='http://www.tagtoo.com.tw/privacy', target='_blank', style='margin: 5px;') 隱私權政策