meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="情人節又要到了，每個人心中一定有個特別人，如果你有段話想對她、他說，但又有不知道如何開口，讓我們來幫你吧。")

meta(property="og:title" content="情人節網路告白大行動")
meta(property="og:image" content="http://lh5.ggpht.com/4cuZC0E0CZC3cF9RqALNKWDaCNvHHYqQ6CrA1EcQtMxLr6PNMxCZ9Sp5g7rc35G8Tv58kejfAyUmEHxXvtQmddk=w200")
meta(property="og:description" content="情人節又要到了，每個人心中一定有個特別人，如果你有段話想對她、他說，但又有不知道如何開口，讓我們來幫你吧。")
title 情人節網路告白大行動

link(href="assets/images/favicon.ico" rel="icon" type="image/x-icon")
