doctype html
html
	head
		include head

		link(href="assets/images/favicon.ico" rel="icon" type="image/x-icon")
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.7.3/semantic.min.css')
		block css

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.7.3/semantic.min.js')
		block js
		
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3RG5R', height='0', width='0', style='display:none;visibility:hidden')

		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-K3RG5R');

		script.

			var tagtoo_advertiser_id = 251;
			var tagtoo_ga = document.createElement('script');
			tagtoo_ga.type = 'text/javascript';
			tagtoo_ga.async = true;
			tagtoo_ga.src = '//ad.tagtoo.co/media/ad/track.js';
			var tagtoo_s = document.getElementsByTagName('script')[0];
			tagtoo_s.parentNode.insertBefore(tagtoo_ga, tagtoo_s);

			window.fbAsyncInit = function() {
			    FB.init({
			        appId: '776675399034344',
			        cookie: true, // enable cookies to allow the server to access 
			        // the session
			        xfbml: true, // parse social plugins on this page
			        version: 'v2.1' // use version 2.1
			    });
			};

			// Load the SDK asynchronously
			(function(d, s, id) {
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) return;
			    js = d.createElement(s);
			    js.id = id;
			    js.src = "//connect.facebook.net/en_US/sdk.js";
			    fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


	body
		block content