$index_bg: "http://lh3.ggpht.com/_wf24KChsm560xm_tvtaGMtON7mLYBzO_6rIZSecNZEFZH9QXVARoC4u5tQSlq2EpHRZf4VL6FVE_4EXYwZZT-w"
@import "common"

#msg.msg, 
#link.link
	display: none

.flow-wraper 
	max-width: 600px
	margin: 50px auto

.fb-comments, .fb-like-box
	text-align: center
	display: block !important
	margin: 0 auto

.fb-comments iframe
	background-color: #ffffff

#ads 
	background-color: #fababc

.sp 
	font-size: 30px
	color: #5F5F5F
	margin-right: 10px

.list 
	font-size: 14px
	color: #279BFC
	line-height: 25px

.list li 
	color: #000000
	font-size: 14px
	line-height: 30px

.index 
	background-image: url($index_bg)
	width: 17px
	height: 20px
	display: inline-block
	position: relative
	top: 7px
	background-size: 100%
	margin-right: 5px

.title 
	font-size: 16px

.val_tit 
	color: #ffffff !important
	font-size: 25px !important
	margin-top: 40px !important

.warper_bottom 
	background-color: #ffffff

